.myButton{
    padding: 12px 12px;
    font-size: 12px;
    color: inherit;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 14px;
    margin-right: 10px;
}